:root{
    --fundo:#8770db;
    --cartao-frente:#26a0fd;
    --cartao-verso:#eece1aeb;
    --destaque:#c715af;
    --preto:#000000;
    --branco:#ffffff;
}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#conteiner{
    padding: 4rem;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    height: 20rem;
    margin: 1rem;
}

.conteudo-cartao{
    background-color: var(--cartao-frente);
    height: 100%;
    text-align: center;
    /* color: var(--branco); */
}